body {
    background-color: #e6f2ff;
    font-family: Arial, sans-serif;
}

.card {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #2196f3;
    color: white;
    border: none;
    cursor: pointer;
}
